@import "./bootstrap-custom";
@import "./mixins";
@import "/node_modules/bootstrap/scss/bootstrap";

.btn-primary-lg {
  @include btn1(
    #ffffff,
    1rem,
    bold,
    none,
    0.563rem 2rem,
    $primary,
    7px,
    "Noto Sans KR"
  );
}
.btn-primary-sm {
  @include btn1(
    #ffffff,
    1rem,
    bold,
    none,
    0.5rem 1.9rem,
    $primary,
    7px,
    "Noto Sans KR"
  );
}
// .btn-primary-md{
//     @include btn1($color, $font-size, $font-weight, $border,$padding, $font-family,$background)

// }
// .btn-primary-lg{
//     @include btn1($color, $font-size, $font-weight, $border,$padding, $font-family,$background)

// }
.btn-primary-outline-lg {
  @include btn1(
    $primary,
    1rem,
    bold,
    solid 2px $primary,
    0.7rem 2rem,
    #ffffff,
    7px,
    "Noto Sans KR"
  );
}
.btn-primary-outline-md {
  @include btn1(
    $primary,
    0.9rem,
    bold,
    solid 2px $primary,
    0.4rem 1.3rem,
    #ffffff,
    5px,
    "Noto Sans KR"
  );
}

.btn-secondary-lg {
  @include btn1(
    #2c3033,
    1.25rem,
    bold,
    none,
    0.563rem 2.188rem,
    #ffffff,
    7px,
    "Noto Sans KR"
  );
}

//typography
h1 {
  color: $secondary;
  // font-weight: $h1-weight;
}
h2 {
  color: $secondary;
  font-family: "Montserrat";
  // font-weight: $h2-weight;
  font-size: 1.75rem;
  text-transform: capitalize;
}
h3 {
  color: $secondary;
  // font-weight: $h3-weight;
  font-family: "Montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: capitalize;
}
h4 {
  color: $secondary;
  font-family: "Montserrat";
  // font-weight: $h4-weight;
  font-size: 1rem;
  text-transform: capitalize;
}

h6 {
  color: $secondary;
  font-family: "Montserrat";
  // font-weight: $h6-weight;
}
p {
  font-family: "Montserrat";
  color: #6c757d;
}

h3 span {
  color: $primary;
  margin-right: 0.5rem;
}

.upper-nav {
  border-bottom: solid 5px $primary;
  ul li {
    .nav-link {
      position: relative;
      i {
        font-size: 1.5rem;
        padding: 0rem 0.3rem;
      }
    }
  }
}

// footer-section
footer {
  .upper-footer {
    background-color: #ffffff;
    .logo img {
      width: 8rem;
    }
    .download-app img {
      width: 7rem;
    }
    .input-group {
      .form-control,
      span {
        border: none;
      }
    }
    h3 {
      color: $white;
    }
    ul li a {
      text-transform: capitalize;
      text-decoration: none;
      color: black;
      i {
        color: $white;
      }
    }
    .social-media {
      li a {
        padding-right: 1rem;
        i {
          color: $primary;
          font-size: 1.3rem;
          &:hover {
            color: $white;
          }
        }
      }
    }
  }
  .lower-footer {
    background-color: $secondary;
    border-top: solid 5px $primary;
    span {
      color: $white;
      font-family: "Montserrat";
      text-transform: capitalize;
    }
  }
}
