<footer>
      <div class="upper-footer">
            <div class="container py-5">
                  <div class="row">
                        <div class="col-3">
                              <div class="logo">
                                    <img src="/assets/Images/beacon-logo.svg" alt="" height="30px">
                              </div>

                        </div>
                        <div class="col-3 ps-5">
                              <h3>Lorem</h3>
                              <ul class="list-unstyled">
                                    <li class="mb-2"><a href="">lorem2</a></li>
                                    <li class="mb-2"><a href="">smartphones</a></li>
                                    <li class="mb-2"><a href="">speakers</a></li>
                                    <li class="mb-2"><a href="">cameras</a></li>
                                    <li class="mb-2"><a href="">lorem2</a></li>
                              </ul>
                        </div>
                        <div class="col-3 ps-5">
                              <h3>Lorem</h3>
                              <ul class="list-unstyled">
                                    <li class="mb-2"><a href="">lorem2</a></li>
                                    <li class="mb-2"><a href="">lorem2</a></li>
                                    <li class="mb-2"><a href="">lorem2</a></li>
                                    <li class="mb-2"><a href="">lorem2</a></li>
                                    <li class="mb-2"><a href="">lorem2</a></li>
                              </ul>
                        </div>
                        <div class="col-3">
                              <h3>Contact us</h3>
                              <ul class="list-unstyled">
                                    <li class="mb-2"><a href=""><i class="bi bi-telephone-fill"></i>&nbsp; +91
                                                95564654655</a>
                                    </li>
                                    <li class="mb-2"><a href=""><i class="bi bi-envelope-fill"></i> &nbsp;
                                                amaan894939@gmail.com</a></li>
                                    <li class="mb-2"><a href=""><i class="bi bi-geo-alt-fill"></i> &nbsp; address</a>
                                    </li>
                              </ul>
                              <ul class="list-unstyled social-media d-flex">
                                    <li><a href=""><i class="bi bi-facebook"></i></a></li>
                                    <li><a href=""><i class="bi bi-twitter"></i></a></li>
                                    <li><a href=""><i class="bi bi-instagram"></i></a></li>
                                    <li><a href=""><i class="bi bi-whatsapp"></i></a></li>
                              </ul>
                        </div>
                  </div>
            </div>
      </div>
      <div class="lower-footer text-center py-4">
            <span>©Copyright The Beacon Classes. All rights reserved.</span>
            <!-- <a href="/home">Go to top</a> -->
      </div>
</footer>