<div class="row">
      <div class="col">
            <h6>Left</h6>
            <article>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores adipisci quisquam totam labore
                  deleniti hic corrupti aut temporibus excepturi esse amet architecto aliquam impedit magnam laboriosam
                  voluptatibus, quam porro officiis cupiditate magni reiciendis odio dolore perferendis. Repudiandae
                  consequuntur iusto consectetur tempora id, assumenda doloremque voluptas officia illum fugit similique
                  nemo cupiditate doloribus animi! Necessitatibus, voluptas asperiores quibusdam repudiandae alias, modi
                  unde pariatur mollitia, similique voluptatibus fuga. Neque ipsum tempora eius. Sed quam, enim magnam
                  cupiditate nisi earum expedita eos totam laudantium minima aperiam ratione itaque possimus. Tempora
                  beatae totam, quia eum esse reprehenderit amet velit, dolorum dolore, sit ad quod?
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores adipisci quisquam totam labore
                  deleniti hic corrupti aut temporibus excepturi esse amet architecto aliquam impedit magnam laboriosam
                  voluptatibus, quam porro officiis cupiditate magni reiciendis odio dolore perferendis. Repudiandae
                  consequuntur iusto consectetur tempora id, assumenda doloremque voluptas officia illum fugit similique
                  nemo cupiditate doloribus animi! Necessitatibus, voluptas asperiores quibusdam repudiandae alias, modi
                  unde pariatur mollitia, similique voluptatibus fuga. Neque ipsum tempora eius. Sed quam, enim magnam
                  cupiditate nisi earum expedita eos totam laudantium minima aperiam ratione itaque possimus. Tempora
                  beatae totam, quia eum esse reprehenderit amet velit, dolorum dolore, sit ad quod?</article>
      </div>
      <div class="col">
            <h6>Center</h6>
            <article>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores adipisci quisquam totam labore
                  deleniti hic corrupti aut temporibus excepturi esse amet architecto aliquam impedit magnam laboriosam
                  voluptatibus, quam porro officiis cupiditate magni reiciendis odio dolore perferendis. Repudiandae
                  consequuntur iusto consectetur tempora id, assumenda doloremque voluptas officia illum fugit similique
                  nemo cupiditate doloribus animi! Necessitatibus, voluptas asperiores quibusdam repudiandae alias, modi
                  unde pariatur mollitia, similique voluptatibus fuga. Neque ipsum tempora eius. Sed quam, enim magnam
                  cupiditate nisi earum expedita eos totam laudantium minima aperiam ratione itaque possimus. Tempora
                  beatae totam, quia eum esse reprehenderit amet velit, dolorum dolore, sit ad quod?</article>
      </div>
      <div class="col">
            <h6>Right</h6>
            <article>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores adipisci quisquam totam labore
                  deleniti hic corrupti aut temporibus excepturi esse amet architecto aliquam impedit magnam laboriosam
                  voluptatibus, quam porro officiis cupiditate magni reiciendis odio dolore perferendis. Repudiandae
                  consequuntur iusto consectetur tempora id, assumenda doloremque voluptas officia illum fugit similique
                  nemo cupiditate doloribus animi! Necessitatibus, voluptas asperiores quibusdam repudiandae alias, modi
                  unde pariatur mollitia, similique voluptatibus fuga. Neque ipsum tempora eius. Sed quam, enim magnam
                  cupiditate nisi earum expedita eos totam laudantium minima aperiam ratione itaque possimus. Tempora
                  beatae totam, quia eum esse reprehenderit amet velit, dolorum dolore, sit ad quod?</article>
      </div>

</div>